<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en"><![endif]-->
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>{{ page.title }} | MonoDevelop</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/assets/normalize.min.css?version={{site.time | date_to_xmlschema | cgi_escape}}" />
    <link rel="stylesheet" href="/assets/foundation.min.css?version={{site.time | date_to_xmlschema | cgi_escape}}" />
    <link rel="stylesheet" href="/assets/highlightjs/a11y-dark.min.css?version={{site.time | date_to_xmlschema | cgi_escape}}" />
    <link rel="stylesheet" href="/assets/magnific-popup.css?version={{site.time | date_to_xmlschema | cgi_escape}}" />

    <link rel="stylesheet" href="/assets/fontawesome/css/solid.min.css?version={{site.time | date_to_xmlschema | cgi_escape}}" />
    <link rel="stylesheet" href="/assets/fontawesome/css/brands.min.css?version={{site.time | date_to_xmlschema | cgi_escape}}" />
    <link rel="stylesheet" href="/assets/fontawesome/css/fontawesome.min.css?version={{site.time | date_to_xmlschema | cgi_escape}}" />

    <link rel="stylesheet" href="/assets/main.css?version={{site.time | date_to_xmlschema | cgi_escape}}" />
    <script src="/assets/modernizr.min.js?version={{site.time | date_to_xmlschema | cgi_escape}}"></script>
    <script src="https://wcpstatic.microsoft.com/mscc/lib/v2/wcp-consent.js"></script>
    <script>
      // redirect to the real domain in case someone visits the GitHub Pages domain
      if (window.location.hostname === 'mono.github.io') {
        window.location.replace(window.location.href.replace("mono.github.io/md-website", "www.monodevelop.com"));
      }
    </script>
  </head>
  <body>
    <div id="header" class="contain-to-grid">
      <div id="cookie-banner"></div>

      <nav class="top-bar" role="navigation" data-topbar>
        <ul class="title-area">
          <li class="name">
            <a href="/" tabindex="-1"><img alt="MonoDevelop Logo" src="/images/md-logo.svg" id="header-logo"/></a>
          </li>
          <li class="toggle-topbar"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <ul class="right">
            <li {% if page.navgroup == "home" or layout.navgroup == "home" %}class="active"{% endif %}><a href="/" tabindex="0"><i class="fas fa-home"></i> Home</a></li>
            <li {% if page.navgroup == "screenshots" or layout.navgroup == "screenshots" %}class="active"{% endif %}>
              <a href="/screenshots/">
                <div class="hide-for-medium-only"><i class="fas fa-image"></i> Screenshots</div>
                <div class="show-for-medium-only"><i class="fas fa-image"></i> Screens</div>
              </a>
            </li>
            <li {% if page.navgroup == "download" or layout.navgroup == "download" %}class="active"{% endif %}><a href="/download/"><i class="fas fa-download"></i> Download</a></li>
            <li {% if page.navgroup == "help" or layout.navgroup == "help" %}class="active"{% endif %}><a href="/help/"><i class="fas fa-question"></i> Help</a></li>
            <li {% if page.navgroup == "documentation" or layout.navgroup == "documentation" %}class="active"{% endif %}>
              <a href="/documentation/">
                <div class="hide-for-medium-only"><i class="fas fa-book"></i> Documentation</div>
                <div class="show-for-medium-only"><i class="fas fa-book"></i> Docs</div>
              </a>
            </li>
            <li {% if page.navgroup == "developers" or layout.navgroup == "developers" %}class="active"{% endif %}>
              <a href="/developers/">
                <div class="hide-for-medium-only"><i class="fas fa-code"></i> Development</div>
                <div class="show-for-medium-only"><i class="fas fa-code"></i> Dev</div>
              </a>
            </li>
            <li>
              <a id="search_icon" title="Search" href="https://www.google.com/search?as_sitesearch=www.monodevelop.com">
                <div><i class="fas fa-search"></i> Search</div>
              </a>
            </li>
          </ul>
        </section>
      </nav>
    </div>
    {% if page.nowrap %}
      {{ content }}
    {% else %}
      <div id="main-wrapper" class="row">
        <div class="small-12 columns">
          {{ content }}
        </div>
      </div>
    {% endif %}
    <footer>
      <div class="row">
        <div id="footer-content">
          <strong>&copy; {{site.time | date: '%Y'}} MonoDevelop Project</strong>
          <br/>
          <div id="footer-notes">
            <a id="manageConsentButton">Change cookie preferences</a>
          </div>
        </div>
      </div>
    </footer>

    <script src="/assets/jquery.min.js?version={{site.time | date_to_xmlschema | cgi_escape}}"></script>
    <script src="/assets/foundation.min.js?version={{site.time | date_to_xmlschema | cgi_escape}}"></script>
    <script src="/assets/highlightjs/highlight.min.js?version={{site.time | date_to_xmlschema | cgi_escape}}"></script>
    <script src="/assets/jquery.magnific-popup.min.js?version={{site.time | date_to_xmlschema | cgi_escape}}"></script>

    <script>
      // allow sub pages to run custom code
      if (typeof runScripts == 'function') {
        runScripts();
      }

      $(document).foundation();
      hljs.highlightAll();
      $(document).ready(function() {

        $('.image-link').magnificPopup({
          disableOn: 400,
          image: { verticalFit: false },
          type: 'image'
        });
      });

      // init cookie banner
      function onConsentChanged(categoryPreferences) {
        console.log("onConsentChanged", categoryPreferences);
      }
      function manageConsent() {
        if (siteConsent.isConsentRequired) {
            siteConsent.manageConsent();
        }
      }
      window.WcpConsent && WcpConsent.init("en-US", "cookie-banner", function (err, _siteConsent) {
        if (!err) {
          siteConsent = _siteConsent;  // siteConsent is used to get the current consent

          // attach manage consent functionality
          var manageConsentButton = document.getElementById("manageConsentButton");
          if (siteConsent.isConsentRequired) {
            manageConsentButton.addEventListener('click', manageConsent);
          } else {
            manageConsentButton.style.display = "none";
          }
        } else {
          console.log("Error initializing WcpConsent: "+ err);
        }
      }, onConsentChanged, WcpConsent.themes.light);
    </script>
  </body>
  <!--  GitHub revision:  {{ site.github.build_revision }}
        GitHub Pages URL: {{ site.github.url }}  -->
</html>
